oglasi.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:simpleType name="positive">  
  <xs:restriction base="xs:double">  
      <xs:minExclusive value="0"/>  
  </xs:restriction>  
</xs:simpleType>


<xs:simpleType name="mail-pattern">  
  <xs:restriction base="xs:string">  
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
  </xs:restriction>  
</xs:simpleType>



  <xs:element name="Oglasi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Oglas">
          <xs:complexType>
            <xs:sequence>
                              <xs:element name="Kategorija">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute name="tip">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="automobili"/>
                                              <xs:enumeration value="stanovi"/>
                                              <xs:enumeration value="alati"/>
                                              <xs:enumeration value="elektronika"/>
                                              <xs:enumeration value="telefoni"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                      </xs:attribute>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>


                              <xs:element name="Datum">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="([0-2][0-9]|3[01])[.](0[0-9]|1[02])[.][2-9][0-9][0-9][0-9][.]" />
                                    </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>



                              <xs:element name="Cena">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="positive">
                                      <xs:attribute name="valuta">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value="RSD"/>
                                            <xs:enumeration value="EUR"/>
                                            <xs:enumeration value="AUD"/>
                                            <xs:enumeration value="USD"/>
                                            <xs:enumeration value="GBP"/>
                                            <xs:enumeration value="BAM"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>


                              <xs:element name="Tekst">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="10"/>
                                        <xs:maxLength value="180"/>
                                    </xs:restriction>
                                </xs:simpleType>
                              </xs:element>


                              <xs:element name="Oznaka" minOccurs= "1" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute type="xs:string" name="tip"/>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>



                              <xs:element name="Email" minOccurs= "1" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="mail-pattern">
                                        <xs:attribute name="tip">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:pattern value="sluzbeni|privatni"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>




            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>



















